<section id="content">

<header class="aui-page-header">
  <div class="aui-page-header-inner">
  <div class="aui-page-header-main">
    <h1 style="font-size: 24px" id="heading-title">EMR Clusters</h1>
  </div>
  </div>
</header>

<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
      <div ng-hide="loading">
        <table class="aui aui-table aui-table-sortable" id="hosts-table" ts-wrapper>
          <thead>
            <tr>
              <th ts-criteria="name" id="cluster_name" ts-default>Name</th>
              <th ts-criteria="host" id="cluster_id">ID</th>
              <th ts-criteria="type" id="cluster_type">Type</th>
              <th ts-criteria="ip" id="cluster_ip">Hostname (Private)</th>
              <th ts-criteria="ip_public" id="cluster_ip_public">IP (Public)</th>
              <th ts-criteria="autoscale" id="cluster_autoscale">Autoscale?</th>
              <th id="cluster_settings">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cluster in clusters track by cluster.id" ts-repeat ng-controller="emrAutoscaleCtrl">
              <td headers="cluster_name"><a ui-sref="emr.details({ clusterId: cluster.id })">{{cluster.name}}</a></td>
              <td headers="cluster_id"><a ui-sref="emr.details({ clusterId: cluster.id })">{{cluster.id}}</a></td>
              <td headers="cluster_type">{{cluster.type}}</td>
              <td headers="cluster_ip">{{cluster.ip}}</td>
              <td headers="cluster_ip_public">{{cluster.ip_public}}</td>
              <td headers="cluster_autoscale"><aui-toggle checked="cluster.autoscale" label="'autoscale' + cluster.id"></aui-toggle></td>
              <td headers="cluster_id"><a ui-sref="emr.details({ clusterId: cluster.id, tab: 'settings' })">Settings</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="aui panel-centered" ng-show="loading">
        <img src="img/loading.gif" alt="loading"/> loading data ...
      </div>
    </section>
  </div>
</div>
</section>
